# =========================
# .NET Core API Ignores
# =========================
TaskManagementServer/TaskManagementAPI/bin/
TaskManagementServer/TaskManagementAPI/obj/
TaskManagementServer/TaskManagementAPI/*.user
TaskManagementServer/TaskManagementAPI/*.suo
TaskManagementServer/TaskManagementAPI/*.http

# =========================
# IDE/editor junk
# =========================
.vscode/
.idea/

# =========================
# Secrets
# =========================
*.env
*.pfx
secrets.json
